.products-form {
    @apply my-50 xl:mt-75 xl:mb-97;
    .site-container {
        @apply flex flex-col-reverse xl:flex-row gap-30 2xl:gap-80; 


        scroll-margin-top: 120px;
        @media screen and (min-width: 1280px) {
            scroll-margin-top: 150px;
        }
        
    }

    .relationship-column {
        @apply xl:w-1/3 xl:max-w-[467px] 2xl:min-w-[467px];

        .products {
          @apply  flex flex-col gap-30 xl:gap-60 lg:flex-row xl:flex-col;
        }
    }

    .form-column {
        @apply w-full xl:w-2/3 flex flex-col;

        .gform_wrapper {
            @apply flex flex-col xl:h-full;
        }
        form {
            @apply flex-grow;

            @media screen and (min-width: 1280px) {
                .gform-footer {
                    margin-top: auto !important;
                }
            }
        }
    }

    .single-product-tile {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%) !important;
        @apply 2xl:max-h-[311px] xl:aspect-[467/311];
        h2 {
            display: none;
        }

        .btn-pb--arrow {
            @apply mt-20;
        }

        .toggle-overlay {
            @apply bottom-15;
        }
    }

    h3 {
        color: #444;
        font-size: 42px;
        font-style: normal;
        font-weight: 300;
        line-height: 1;
        @apply text-[27px] xl:text-[32px] 2xl:text-[42px] mb-24 xl:mb-30;
    }
}