.site-container {

    @apply max-w-[1240px] 2xl:max-w-[1440px];
    margin-left: auto;
    margin-right: auto; 
    position: relative;
    width: calc(100% - 100px);

    @media only screen and (max-width: 767px) {
        width: calc(100% - 44px);
    }
}
