.single-post-content {
    @apply my-50 xl:mt-72 xl:mb-90;

    .site-container {
        @apply flex flex-col xl:flex-row gap-50 2xl:gap-67;
    }

    h1 {
        @apply mb-24 xl:mb-25 xl:text-[42px];
        color: #444;
        font-style: normal;
        font-weight: 500;
    }

    figure {
        @apply w-full;

        img {
            @applt w-full h-auto object-cover object-center;
        }

        .meta {
            @apply flex flex-col gap-15 mt-5 py-15 2xl:py-21 px-15 2xl:px-26 lg:flex-row lg:gap-30;

            border-bottom: 1px solid #CCC;
            border-right: 1px solid #CCC;
            border-left: 1px solid #CCC;

            .tags,
            .date {
                @apply flex items-center gap-11;
                a {
                    @apply underline xl:text-[18px] xl:leading-[28px];
                    color: #333;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                }

                span {
                    @apply xl:text-[18px] xl:leading-[28px];
                    color: #333;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                }
                a, span {
                    @apply translate-y-2;
                }
            }
        }
    }

    .post-content {
        @apply xl:w-[80%;] 2xl:max-w-[1075px];

        img {
            @media screen and (min-width: 768px) and (max-width: 1025px) {
                max-width: unset;
                margin-bottom: 20px;
                margin-left: 20px;
                width: 100%;
            }
        }
    }

    .related-posts {
        @apply xl:w-1/3 xl:max-w-[294px];

        h3 {
            color: #444;
            font-size: 28px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            @apply block relative mb-20 xl:mb-30 2xl:mb-37 xl:pb-10;
            &:after {
                position: absolute;
                bottom: 0;
                left: 0;
                height: 1px;
                width: 100%;
                content: '';
                background-color: #C2D831;
            }
        }

        h4 {
            color: #444;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            @apply mb-6 mt-12;
        }

        .latest-post {
            img {
                @apply aspect-video 2xl:aspect-[294/190];
            }
        }
    }

    .copy {
        @apply mt-30 xl:mt-39;

        p {
            @apply mb-20 lg:mb-27 last:mb-0;
        }

        ul {
            @apply mb-35 2xl:mb-50;
        }

        li {
            @apply leading-[30px] xl:leading-[35px];
            strong, b {
                font-weight: 500 !important;
            }
        }

        img {
            @apply xl:ml-30;
            @media screen and (max-width: 450px) {
                width: 100% !important;
                display: block !important;
                margin-bottom: 30px;
            }
        }

        h3 {
            @apply text-[24px] xl:text-[30px];
            color: #444;
            font-style: normal;
            font-weight: 500;
            line-height: 1;
        }

        p + h1, p+ h2, p+ h3, p + h4, p + h5,
        ul + h1, ul+ h2, ul+ h3, ul + h4, ul + h5 {
            margin-top: 20px;
        }

        h1, h2, h3, h4, h5, h6 {
            @apply mb-20 xl:mb-30;
        }
    }

    .posts-grid {
        @apply grid grid-cols-1 md:grid-cols-3 xl:grid-cols-1 gap-30 2xl:gap-59;
    }
}