.case-study-enquiry {
    @apply my-50 xl:mt-102 xl:mb-73;
    .site-container {
        @apply flex flex-col-reverse xl:flex-row gap-30 2xl:gap-80; 


    }

    .relationship-column {
        @apply xl:w-1/3 xl:max-w-[467px] 2xl:min-w-[467px];

        .products {
          @apply  flex flex-col gap-30 xl:gap-60 lg:flex-row xl:flex-col;
        }

        img {
            @apply aspect-video 2xl:aspect-[467/294] mb-20 xl:mb-36 w-full;
        }
    }

    .form-column {
        @apply w-full xl:w-2/3 flex flex-col;

        .gform_wrapper {
            @apply flex flex-col xl:h-full;
        }
        form {
            @apply flex-grow;

            @media screen and (min-width: 1280px) {
                .gform-footer {
                    margin-top: auto !important;
                }
            }
        }
    }

    h3 {
        color: #444;
        font-style: normal;
        font-weight: 300;
        line-height: 1;
        @apply text-[27px] xl:text-[32px] 2xl:text-[42px] mb-24 xl:mb-30;
    }

    h4 {
        color: #444;
        font-style: normal;
        font-weight: 500;
        line-height: 27px;
        
        @apply text-[20px] lg:text-[22px];
    }

    .btn-pb {
        @apply xl:mt-33;
    }
}