.two-column-text {
    @apply my-50 lg:my-94 xl:mb-67 2xl:mt-100;
    h2 {
        color: #444;
        font-style: normal;
        font-weight: 300;
        line-height: 1.3;
        @apply text-[32px] lg:text-[40px] xl:text-[50px] 2xl:text-[55px] mb-24 xl:leading-1;
    }
    p {
        @apply mb-20 xl:mb-27 last:mb-0;
    }
    li {
        @apply xl:leading-[35px];
    }
    .text {
        @apply lg:columns-2 xl:gap-39;
    }
}