.product-relationship {
    @apply my-8 md:my-18;
    .products-grid {
        @apply relative grid grid-cols-1 md:grid-cols-2 gap-8 lg:gap-y-24 xl:gap-x-20;
    }

    .site-container {
        // @media screen and (max-width: 450px) {
            width: 100%;
            max-width: 1640px;
        // }
    }
}



.single-product-tile {
    @apply relative;

    img {
        @apply w-full h-full object-cover object-center aspect-[441/331] lg:aspect-[810/557];
        &.mobile-image {
            @apply block md:hidden;
        }
        &.desktop-image {
            @apply hidden md:block;
        }
    }

    &.active {
        .toggle-overlay {
            svg {
                transform: rotate(45deg);
                path {
                    fill: #fff;
                }
                circle {
                    stroke: #fff;
                }
            }
            h5 {
                color: #fff;
            }
        }
    }

    .overlay  {
        @apply absolute inset-0 h-full w-full z-10 items-center justify-center text-center flex flex-col;
        background: rgba(39, 39, 39, 0.95);
        clip-path: inset(0 100% 0 0);
        opacity: 0;
        pointer-events: none;
        transition: clip-path 0.5s ease, opacity 0.8s ease;
        &.active {
            animation: showOverlay 0.9s forwards;
            pointer-events: auto;
            opacity: 1;

            
          }
          
        &.hiding {
            animation: hideOverlay 0.9s forwards;
            pointer-events: none;
            opacity: 0;
        }

        .text {
            @apply w-[90%] max-w-[617px] text-center flex flex-col items-center text-[#FFFFFF];
        }

        .btn-pb--arrow {
            @apply w-fit mt-0 xl:mt-40 xl:text-[22px] ;
            color: #FFF;
            font-size: 22px;
            font-style: normal;
            font-weight: 300;
            line-height: 27px; 
        }

        h2 {
            color: #FFF;
            text-align: center;
            font-size: 35px;
            font-style: normal;
            font-weight: 400;
            line-height: 1; 
            letter-spacing: 3.5px;
            text-transform: uppercase;
            @apply mb-50 relative;
            &:after {
                @apply absolute h-3 w-65;
                top: calc(100% + 20px);
                left: 50%;
                transform: translateX(-50%);
                content: '';
                background-color: #FBB034;
            }
            @media screen and (max-width: 1200px) {
                font-size: 24px;
                margin-bottom: 25px;
                width: 90%;
                &:after {
                    top: calc(100% + 15px);
                }
            }
            @media screen and (max-width: 1000px) {
                font-size: 20px;
                margin-bottom: 25px;
                
                &:after {
                    top: calc(100% + 10px);
                }
            }
            @media screen and (max-width: 600px) {
                width: 100%;
            }

            @media screen and (max-width: 375px) {
                font-size: 18px;
                margin-bottom: 15px;
            }
        }

        p {
            color: #FFF;
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 300;
            line-height: 27px;
            max-width: 483px;
            @media screen and (max-width: 1200px) {
                font-size: 18px;
                line-height: 26px;
            }
            @media screen and (max-width: 1000px) {
                font-size: 16px;
                line-height: 24px;
            }
            @media screen and (max-width: 375px) {
                font-size: 14px;
            }
        }

        span.btn-pb--arrow {
            @media screen and (max-width: 1000px) {
                display: none;
            }
        }
        @media screen and (max-width: 1050px) {
            display: none;
        }
    }

    .toggle-overlay {
        @media screen and (max-width: 1050px) {
            pointer-events: none;
        }
        @apply flex items-center gap-12 absolute bottom-12 left-23 2xl:bottom-27;
        z-index: 20;
        transition: all 0.3s ease-in-out;
        h5 {
            color: #414042;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            transition: all 0.3s ease-in-out;
            @apply xl:text-[18px];
            @media screen and (max-width: 768px) {
                // text-shadow: 1px 1px 2px #b6b6b6;
                text-shadow: 1px 1px 3px #e4e4e4;
            }
        }
        svg {
            transition: all 0.3s ease-in-out;
            @media screen and (max-width: 768px) {
                width: 40px;
                height: 40px;
            }
        }
    }

    @keyframes showOverlay {
        from {
          clip-path: inset(0 100% 0 0);
        }
        to {
          clip-path: inset(0 0 0 0);
        }
      }
      
      @keyframes hideOverlay {
        from {
          clip-path: inset(0 0 0 0);
        }
        to {
          clip-path: inset(0 0 0 100% ) ;
        }
      }

    &.dark {
        .toggle-overlay {
            svg {
                path {
                    fill: #fff;
                }
                circle {
                    stroke: #fff;
                }
            }
            h5 {
                color: #fff;
                @media screen and (max-width: 768px) {
                    text-shadow: none;
                }
            }
        }
    }
    @media screen and (min-width: 1024px) {
        &:nth-child(odd) {
            clip-path: polygon(
                0% 0%,    /* Top-left corner */
                calc(100% - 8px) 0%, /* Top-right corner, shaved by 8px */
                100% 8px, /* Top-right inner corner */
                100% calc(100% - 8px), /* Bottom-right inner corner */
                calc(100% - 8px) 100%, /* Bottom-right corner, shaved by 8px */
                0% 100%   /* Bottom-left corner */
            );
        }
        &:nth-child(even) {
            clip-path: polygon(
                8px 0%,   /* Top-left corner, shaved by 8px */
                100% 0%,  /* Top-right corner */
                100% 100%, /* Bottom-right corner */
                8px 100%, /* Bottom-left corner, shaved by 8px */
                0% calc(100% - 8px), /* Bottom-left inner corner */
                0% 8px    /* Top-left inner corner */
            );
        }
    }

    .mobile-tile {
        @apply  block xl:hidden;
    }

    .desktop-tile {
        @apply hidden xl:block;
    }
}