.benefits-block {
    background: #F5F5F5;
    @apply pt-37 pb-54 mt-8 xl:mt-18 md:py-14;

    .site-container {
        
    }

    .benefits-list {
        @apply flex flex-col items-center gap-10 md:flex-row md:flex-wrap md:justify-center md:gap-x-20;
        
        @media (min-width: 1640px) {
            @apply flex-nowrap justify-between mx-0;
            width: 100%;
        }
    }

    .single-benefit {
        @apply flex items-center w-fit text-center gap-15; 

        h5 {
            @apply text-[#444] text-center text-[20px] font-normal leading-[35px] tracking-[2px] uppercase;
            
            @media screen and (max-width: 400px) {
                @apply text-[16px];
            }
            
            @media screen and (min-width: 1280px) and (max-width: 1450px) {
                @apply text-[18px];
            }
        }

        img {
            @apply max-w-[29px] h-auto -translate-y-2;
        }
    }
}