.site-header {
    background: #E5E5E5;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 129px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    overflow: visible;
    z-index: 100;
    
    // Force override at all breakpoints
    @media (min-width: 1280px) {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    
    @media (min-width: 1600px) {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .site-container {
        @apply flex items-center justify-between xl:w-full max-w-[1240px] xl:max-w-[1640px];
        height: 100%;
        align-items: center;
        @media (min-width: 1280px) {
            padding-left: 100px;
            padding-right: 100px;
        }
        @media screen and (min-width: 768px) and (max-width: 1025px) {
            width: calc(100% - 60px);
        }
    }

    .site-logo {
        position: relative;
        z-index: 101;
        align-self: flex-start;
        margin-bottom: -28px; // Logo is 157px, header is 129px, so 28px overhang
        
        @media screen and (max-width: 768px) {
            @apply w-[210px];
            margin-bottom: -28px;
        }
        
        img {
            display: block;
            width: 157px;
            height: 157px;
            object-fit: contain;
        }
    }

    &__navigation {
        @apply hidden xl:block;
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;
    }

    &__mobile-navigation {
        @apply w-full;
    }

    &__menu {
        @apply flex items-center relative gap-25 xl:gap-50;

        li {
            @apply xl:border-transparent hover:border-[#BFBFAFE5] transition duration-300;
            display: flex;
            align-items: center;
            &:not(.menu-item-has-children) {
                // @apply 2xl:pl-30;
            }
            a {
                @apply flex items-center gap-5 2xl:gap-10 font-gibson;
                color: #444;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 27px;
                padding-top: 0;
                padding-bottom: 0;
            }
            &:first-of-type {
                @apply 2xl:pl-0;
                a {
                    @apply 2xl:pl-0;
                }
            }
            &.menu-item-has-children {
                @apply pl-18 xl:border-l xl:border-t ;

               > a {
                    @apply relative text-[18px] xl:text-[20px] font-gibson;
                    line-height: 27px;
                    font-weight: 500;
                    &:after {
                        width: 13px;
                        height: 8px;
                        display: inline-block;
                        background-image: url('../assets/chevron.svg');
                        background-repeat: no-repeat;
                        background-size: cover;
                        content: '';
                        transition: all 0.3s ease-in-out;
                    }
                }
                &:hover {
                    a {
                        &:after {
                            transform: rotate(180deg);
                        }
                    }
                }

                li {
                    @apply px-0;
                }
            }
            &.menu-item-has-children:not(.mega-menu) {
                @apply relative;

                .sub-menu {
                    @apply absolute left-0 w-full h-fit pb-14 min-w-[180px] 2xl:min-w-[230px];
                    top: 100%; // Start directly below menu item to maintain hover connection
                    padding-top: 50px; // Create invisible hover bridge (fills gap to bottom of header)
                    z-index: 10;
                    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                    pointer-events: none;
                    transition: all 0.8s ease-in-out;
                    
                    // Background only on the content area (after padding), not the bridge
                    background: transparent;
                    
                    // The padding-top area (50px) is the invisible hover bridge
                    // It's part of the submenu element, so when pointer-events: all is set,
                    // the padding area will also receive hover events
                    
                    // Create the background for the actual menu content
                    &::after {
                        content: '';
                        position: absolute;
                        top: 50px; // Start after the padding bridge
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: #F6F6F6;
                        z-index: -1;
                    }
                    
                    // Multi-column layout for products menu with more than 7 items
                    &:has(li:nth-child(8)) {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        column-gap: 20px;
                        row-gap: 0;
                        min-width: 400px;
                        width: auto;
                        
                        li {
                            width: auto;
                        }
                    }
                    
                    li {
                        @apply w-full flex items-center relative justify-between transition duration-300;
                        
                        &:first-child {
                            padding-top: 4px; // Add back the top padding for first item
                        }
                        
                        a {
                            @apply py-8 px-17;
                            color: #444;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px !important;
                        }
                        &:first-child {
                            @apply items-start;
                            a {
                                // @apply pt-0;
                            }
                            &:after {
                                @apply mt-8;
                            }
                        }
                        &:last-child {
                            a {
                                @apply pb-0;
                            }
                            &:after {
                                @apply mt-8;
                            }
                            &:before {
                                display: none;
                            }
                        }

                        &:before {
                            position: absolute;
                            top: 100%;
                            left: 0;
                            width: 100%;
                            height: 1px;
                            content: '';
                            background-image: url('../assets/border.svg');
                        }
                        &:hover {
                            background: #E5E5E5;
                            border-radius: 4px;
                            
                            a {
                                border-radius: 4px;
                            }
                        }
                    }
                }

                &:hover {
                    &:after {
                        transform: rotate(180deg);
                    }
                    .sub-menu {
                        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
                        pointer-events: all;
                        
                    }
                }
                
                // Maintain hover when moving from menu item to submenu
                // The padding-top area (50px) acts as the invisible bridge
                &:hover .sub-menu,
                .sub-menu:hover {
                    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
                    pointer-events: all;
                }
            }

        }
    }

    .hamburger {
        @apply flex items-center w-51 h-33 relative xl:hidden;
        z-index: 51;
        span {
            @apply block w-full h-5 bg-[#414042];
            transition: all 0.3s ease-in-out;
        }
        &:after,
        &:before {
            @apply block w-full h-5 bg-[#414042] absolute left-0;
            content: '';
            transition: all 0.3s ease-in-out;
        }
        &:after {
            @apply bottom-0;
        }
        &:before {
            @apply top-0;
        }

        &.open {
            span {
                opacity: 0;
            }
            &:after {
                transform: rotate(45deg) translate(-8px, -8px);
            }
            &:before {
                transform: rotate(-45deg) translate(-12px, 11px);
            }
        }
    }
}

.mobile-nav {
    @apply absolute top-0 left-0 w-full bg-[#E6E6D7] text-[#fff] pt-139 px-0  pb-[230px];
    min-height: 100dvh;
    overflow-y: auto;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    z-index: 50;
    box-sizing: border-box;
    &.open {
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
        pointer-events: all;
    }
    .site-container {
        @apply w-full;
    }
    ul {
        z-index: 10;
        @apply px-0 w-full;
        li {
            @apply relative w-full ;
            &:before {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 1px;
                content: '';
                background-image: url('../assets/border.svg');
            }
            &:last-child {
                &:before {
                    display: none;
                }
            }
            a {
                @apply py-17 px-30 block w-fit;

                color: #444;
                font-size: 30px;
                font-style: normal;
                font-weight: 600;
                line-height: 39px;
                @apply font-gibson;
            }
            &.menu-item-has-children {
                // @apply flex items-center justify-between;
                transition: all 0.3s ease-in-out;
                &:after {
                    width: 24px;
                    height: 15px;
                    display: inline-block;
                    background-image: url('../assets/chevron.svg');
                    background-repeat: no-repeat;
                    content: '';
                    position: absolute;
                    right: 40px;
                    top: 31px;
                    transition: all 0.3s ease-in-out;
                }
                &.active {
                    background-color: rgb(171, 167, 119, 0.17);
                    &:after {
                        transform: rotate(180deg);
                    }
                }
                .sub-menu {
                    // background-color: rgb(171, 167, 119, 0.17);
                    @apply pb-10;
                    li {
                        @apply pl-35;
                        &:before {
                            width: 12px;
                            height: 19px;
                            display: inline-block;
                            background-image: url('../assets/sub-chevron.svg');
                            background-repeat: no-repeat;
                            content: '';
                            position: absolute;
                            left: 35px;
                            top: 50%;
                            transform: translateY(-50%);
                            transition: all 0.3s ease-in-out;
                        }
                        a {
                            @apply w-full relative  py-0; 
                            color: #444;
                            font-size: 27px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 50px;
                            &:before {
                                position: absolute;
                                top: 100%;
                                left: 0;
                                width: 100%;
                                height: 1px;
                                content: '';
                                background-image: url('../assets/border.svg');
                            }
                            @apply text-[24px] sm:text-[27px];
                        }
                        &:last-child {
                            a {
                                &:before {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                .sub-menu,
                .mega-menu-container {
                    display: none;
                }
            }
        }
    }



    // &:after {
    //     position: absolute;
    //     top: 100%;
    //     left: 0;
    //     content: '';
    //     height: 140px;
    //     width: 200px;
    //     background-image: url('../assets/shape.svg');

    //     pointer-events: none;
    // }
        background-image: url('../assets/shape.svg');
        background-size: 200px 200px;
        background-repeat: no-repeat;
        background-position: 0 104%;
}
