
main, footer, header {
    * {
        // font-family: 'Poppins', sans-serif;
        // color: #262932;
    }
    
    
    // Font Styling
    
    .subtext, p, li {
        line-height: 1.35;
        font-weight: 400;
        @include fluid-type(20px, 20px, 500px, 1640px);
        &.large {
            @include fluid-type(18px, 29px, 500px, 1640px);
        }
        .small {
            @include fluid-type(12px, 16px, 500px, 1640px);
        }
        @media only screen and (max-width: 380px) {
            font-size: 16px;
            line-height: 24px;
        }

        h1, h2, h3, h4, h5, h6, 
        .h1, .h2, .h3, .h4, .h5, .h6 {
            margin-bottom: 32px;
            @media only screen and (max-width: 767px) {
                margin-bottom: 16px;
            }
        }

        p {
            margin-bottom: 24px;
            @media only screen and (max-width: 767px) {
                margin-bottom: 20px;
            }

            @media only screen and (max-width: 380px) {
                font-size: 16px;
                line-height: 24px;
            }
        }
        
        >*:last-child {
            margin-bottom: 0;
        }
    }
    .subtext *:not(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6) {
        font-size: inherit;
        line-height: inherit;
        color: inherit;
        font-weight: inherit;
        b, strong {
            font-weight: 700 !important;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    
    h1, .h1 {
        @include fluid-type(51px, 66px, 300px, 1640px);
        line-height: 1.06;
        font-weight: 300;
        @media screen and (max-width: 768px) {
            line-height: 107%;
        }
    }
    h2, .h2 {
        @include fluid-type(24px, 47px, 400px, 1640);
        line-height: 1.4;
        font-weight: 700;
    }
    h3, .h3 {
        @include fluid-type(27px, 36px, 400px, 1640);
        line-height: 1.4;
        font-weight: 700;
    }
    h4, .h4 {
        @include fluid-type(18px, 29px, 500px, 1640);
        line-height: 1.5;
        font-weight: 300;
        b, strong {
            font-weight: 700 !important;
        }
    }
    h5, .h5 {
        @include fluid-type(18px, 22px, 500px, 1640);
        line-height: 1.5;
        font-weight: 300;
        b, strong {
            font-weight: 700 !important;
        }
    }
    h6, .h5 {
        @include fluid-type(18px, 26px, 500px, 1640px);
        line-height: 1.5;
        font-weight: 400;
    }
    h1, h2, h3, h4, h5, h6 {
        *, p {
            font-size: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
            margin-bottom: 0 !important;
        }
        b, strong {
            font-weight: 700 !important;
        }
    }
}

main {
    ul, ol {
        padding-left: 20px;
        li {
            list-style: disc;
        }
    }
    ol {
        li {
            list-style: decimal;
        }
    }
    ul {
        li {
            list-style: disc;
        }
    }

    ul {
        @apply pl-0;
        li {
            list-style: none;
            @apply relative ;
            &:before {
                @apply inline-block w-21 h-14;
                content: '';
                background-image: url('../assets/tick.svg');
            }
        }
        li {
            @apply font-light block pl-36;
            strong, b {
                font-weight: 500 !important;
            }
            &:before {
                @apply mr-15 absolute left-0 top-5;
            }
        }
    }
}



.btn-pb {
    color: #444;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 27px; /* 122.727% */
    text-decoration-line: underline;
    @media screen and (max-width: 390px) {
        font-size: 18px;
        line-height: 122%;
    }

    &--yellow {
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: 27px;
        text-decoration: none !important;
        @apply text-[20px] leading-[27px] xl:text-[24px] bg-[#FFC60B] py-16 px-25;
    }

    &--gray {
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: 27px;
        text-decoration: none !important;
        @apply text-[20px] leading-[27px] xl:text-[24px] bg-[#444444] py-16 px-25;
    }
}

.btn-pb--arrow {
    @apply relative flex gap-9 items-center underline underline-offset-[3px];
    &:after {
        @apply inline-block transition duration-300 ;
        width: 18px;
        height: 16px;
        content: '';
        background-image: url('../assets/arrow.svg');
    }
    &:hover {
        &:after {
            transform: translateX(5px);
        }
    }
    &--white {
        color: #fff;
        &:after {
            background-image: url('../assets/arrow-white.svg');
        }
    }
}