.case-study-content {
    @apply my-50 xl:mt-72 xl:mb-90  overflow-hidden 2xl:mt-108;

    .site-container {
        @apply flex flex-col xl:flex-row gap-50 2xl:gap-67;
    }

    figure {
        @apply w-full;

        img {
            @applt w-full h-auto object-cover object-center;
        }

        .meta {
            @apply flex flex-col gap-15 mt-5 py-15 2xl:py-21 px-15 2xl:px-26 lg:flex-row lg:gap-30;

            border-bottom: 1px solid #CCC;
            border-right: 1px solid #CCC;
            border-left: 1px solid #CCC;

            .tags,
            .date {
                @apply flex items-center gap-11;
                a {
                    @apply underline xl:text-[18px] xl:leading-[28px];
                    color: #333;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                }

                span {
                    @apply xl:text-[18px] xl:leading-[28px];
                    color: #333;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                }
                a, span {
                    @apply translate-y-2;
                }
            }
        }
    }
    .sidebar {
        @apply xl:w-1/3 xl:max-w-[294px];
        p {
            @apply mb-0 md:leading-[1.2] ;
            
        }
        span {
            @apply font-medium;
        }
        .info {
            @apply mb-10 last:mb-0;
            &.brief {
                p {
                    @apply md:leading-[1.2];
                }
            }
        }

        .client-logo {
            @apply w-full h-auto object-contain object-center mb-30 xl:mb-45 2xl:mb-60 block;
        }
    }

    h3.sidebar-header {
        color: #444;
        font-size: 27px;
        font-style: normal;
        font-weight: 400;
        line-height: 35px; /* 129.63% */
        letter-spacing: 5.4px;
        text-transform: uppercase;
        @apply block relative mb-20 xl:mb-30 2xl:mb-37 xl:pb-10 w-fit max-w-[241px];
        &:after {
            position: absolute;
            bottom: 0;
            right: 0;
            height: 1px;
            content: '';
            background-color: #C2D831;
            width: calc(100% + 25px);
            @media screen and (min-width: 768px) {
                width: calc(100% + 55px);
            }
            @media screen and (min-width: 1280px) {
                width: calc(100% + 110px);
            }
        }
    }

    h4 {
        color: #444;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        @apply mb-6 mt-12;
    }

    .single-case {
        img {
            @apply aspect-video 2xl:aspect-[294/190];
        }
    }

    .btn-pb {
        color: #444;
        font-size: 22px;
        font-style: normal;
        font-weight: 300 !important;
        line-height: 27px;
    }


    .cs-desktop {
        @apply hidden xl:block mt-86;
    }

    .cs-mobile {
        @apply block xl:hidden mt-60;
    }

    .studies-grid {
        @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-1 gap-30 2xl:gap-59;
    }

    .content {
        @apply xl:w-[80%;] 2xl:max-w-[1075px];

        h1 {
            @apply mb-24 xl:mb-25 text-[32px] leading-[1.3] lg:text-[36px] xl:text-[42px] xl:leading-1;
            color: #444;
            font-style: normal;
            font-weight: 500;
        }

        .copy {
            @apply mt-30 xl:mt-39;
    
            p {
                @apply mb-20 lg:mb-27 last:mb-0;
            }
    
            ul {
                @apply mb-35 2xl:mb-50;
            }
    
            li {
                @apply leading-[30px] md:leading-[35px];
                strong, b {
                    font-weight: 500 !important;
                }
            }
    
            img {
                @apply xl:ml-30;
                @media screen and (max-width: 450px) {
                    width: 100% !important;
                    display: block !important;
                    margin-bottom: 30px;
                }
            }

            img {
                @media screen and (min-width: 768px) and (max-width: 1025px) {
                    max-width: unset;
                    margin-bottom: 20px;
                    margin-left: 20px;
                    width: 100%;
                }
            }
    
            h3 {
                @apply text-[24px] xl:text-[30px];
                color: #444;
                font-style: normal;
                font-weight: 500;
                line-height: 1;
            }
    
            p + h1, p+ h2, p+ h3, p + h4, p + h5,
            ul + h1, ul+ h2, ul+ h3, ul + h4, ul + h5 {
                margin-top: 20px;
            }
    
            h1, h2, h3, h4, h5, h6 {
                @apply mb-20 xl:mb-30;
            }

            &.quote {
                @apply lg:my-72 xl:mb-80;
            }
        }


        blockquote {
                @apply relative flex gap-15 mb-30 xl:mb-35;
                &:before {
                    position: relative;
                    display: block;
                    background-image: url('../quote-mark.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    content: '';
                    @apply w-44 h-28;
                }

                p {
                    width: calc(100% - 44px);
                    @apply  last:mb-0;
                    color: #444;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 40px;

                    @media only screen and (max-width: 768px) {
                        font-size: 24px;
                        line-height: 32px;
                    }
                    @media only screen and (max-width: 380px) {
                        font-size: 20px;
                        line-height: 28px;
                    }
                }
            }

            .quote {
                @apply xl:pl-21 ;
                p {
                    @apply lg:ml-40 xl:ml-59;
                    strong {
                        font-weight: 500 !important;
                    }
                }
                blockquote {
                    p {
                        @apply ml-0;
                        
                    }
                }
            }
    }

    .more-link {
        @apply mt-60 xl:mt-82 pt-16 w-fit ;
        &:before {
            position: absolute;
            top: 0;
            right: 0;
            height: 1px;
            content: '';
            background-color: #C2D831;
            width: calc(100% + 25px);
            @media screen and (min-width: 768px) {
                width: calc(100% + 55px);
            }
            @media screen and (min-width: 1280px) {
                width: calc(100% + 110px);
            }
        }
    }
}