.wysiwyg-content {
    @apply my-50 lg:my-94 xl:mb-67 2xl:mt-100;
    
    .content {
        color: #414042;
        font-size: 18px;
        line-height: 1.6;
        
        @media (max-width: 767px) {
            font-size: 16px;
        }
        
        h1, h2, h3, h4, h5, h6 {
            color: #414042;
            font-family: canada-type-gibson, sans-serif;
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 20px;
            
            @media (max-width: 767px) {
                margin-bottom: 15px;
            }
        }
        
        h1 {
            font-size: 32px;
            line-height: 1.2;
            
            @media (max-width: 767px) {
                font-size: 28px;
            }
        }
        
        h2 {
            font-family: canada-type-gibson, sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 27px;
            line-height: 35px;
            letter-spacing: 0.2em; // 20% of font-size (27px * 0.2 = 5.4px, but using em for scalability)
            text-transform: uppercase;
            margin-bottom: 31px;
            
            @media (max-width: 767px) {
                font-size: 24px;
                line-height: 32px;
                margin-bottom: 25px;
            }
        }
        
        p {
            font-family: canada-type-gibson, sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 20px;
            line-height: 27px;
            letter-spacing: 0;
            @apply mb-20 xl:mb-27 last:mb-0;
            
            @media (max-width: 767px) {
                font-size: 18px;
                line-height: 24px;
            }
        }
        
        ul, ol {
            margin-bottom: 20px;
            padding-left: 20px;
            
            @media (max-width: 767px) {
                margin-bottom: 15px;
            }
        }
        
        li {
            margin-bottom: 10px;
            
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}



